<div class='register_modal'>
  <md-dialog>
    <form>
      <!-- header -->
   		<md-toolbar>
        <div class="md-toolbar-tools warningHeader">
          <h2 id='dialogHeader'>Login</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="hide()">
            <i>x</i>
          </md-button>
        </div>
      </md-toolbar>
      <!-- Content -->
      <div layout-padding>
          <md-content layout-margin>
              <form name="userForm">

                <div layout layout-sm="column" ng-show="name">
                  <md-input-container flex md-no-float>
                    <input ng-model="user.firstName" placeholder="First Name">
                  </md-input-container>
                  <md-input-container flex md-no-float>
                    <input ng-model="user.lastName" placeholder="Last Name">
                  </md-input-container>
                </div>
                <md-input-container md-no-float>
                  <input ng-model="user.username" placeholder="username">
                </md-input-container>
                <md-input-container md-no-float>
                  <input type="password" ng-model="user.password" placeholder="Password">
                </md-input-container>
              </form>
          </md-content>
      </div>
      <!-- Buttons -->
      <div class="md-actions" layout="row">
        <span flex></span> <!-- pushes buttons to the right side of the dialog box -->
        <md-button ng-click="name = !name" class="md-primary">
          Not Registered?
        </md-button>
        <md-button class='md-primary' ng-click='login(user)'>Login</md-button>
      </div>
    </form>
  </md-dialog>
</div>
